# configuration file for the coverage.py

[run]
parallel=True
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    __version__
    if verbose
ignore_errors = True

omit= 
    boml/load_data/*
    boml/setup_model/network_utils.py
    test_script/*