# configuration file for the coverage.py

[run]
parallel=True
source=
    boml/lower_iter/*
    boml/upper_iter/*
omit= 
    boml/load_data/*
	boml/setup_model/network_utils.py
    train_script/*
[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    boml/load_data/*
	train_script/*
