# configuration file for the coverage.py

[run]
parallel=True
source=boml
omit= 
    boml/data_loader
    train_script
[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    boml/data_loader
